*{
    box-sizing: border-box;
    overflow: hidden;
    font-family: '標楷體';
}
.main{
    display: flex;
    width: 1024px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 12px;
    margin: 0 auto;
}

body>*:not(.aside,.section),
aside>*,
section>*{
    border: 1px solid lightgray;
}

/* .main , .top , .footer , .menu , .update , .marquee , .content{
    border: 1px solid lightgray;
} */

.top{
    flex-basis: 1000px;
    height: 65px;
}

/* left */

.aside{
    display: flex;
    flex-direction: column;
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
}
.menu{
    flex-basis: calc(100% - 25px);
}
.menu-header{

}
.update{
    flex-basis: 25px;
}


/* right */
.section{
    display: flex;
    flex-direction: column;
    flex-basis: calc(1000px - 215px);
    /* flex-basis: 770px; */
}
.marquee{
    flex-basis: 29px;
}
.content{
    flex-basis: calc(100% - 29px);
}


.footer{
    flex-basis: 1000px;
    height: 20px;
}